*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color:#edf1f2;
}

.pagetitle{
    padding-bottom: 10px;
    width: 95%;
    border-bottom: 1px solid black;
}

#main{
    margin-left: 150px; /* margem em relacao ao menu */
    padding-top: 80px;
}

nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 150px;
	height: 100%;
	background: linear-gradient(to bottom, #1e3c72, #234a85, #265998, #2969ac, #2a79c0);
	margin-top: 55px;
}

li, ul label.title, ul, a {
	width: 100%;
	color: #FFF;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	display: block;
	font-weight: bold;
}
ul label {
	height: 35px;
}
ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}
li {
	display: block;
	background-color: #edf1f2;
}
label.title {
	font-size: 14px;
	background: linear-gradient(to bottom, #1e3c72, #234a85);
	padding: 10px 15px;
	cursor: pointer;
  transition: all .25s;
}

a{
	font-size: 12px;
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
}
a:hover {
  background-color: #444;
  box-shadow: inset 5px 0px 0px 0px #234a85;
  color: #fff;
}
label:hover {
	text-shadow: 0px 0px 10px #fff;
}
input[type="radio"] {
	display: none;
}

#archive:checked + li{
	height: 68px;
}

#edit:checked + li{
	height: 129px;
}

#tools:checked + li{
	height: 136px;
}












.header{
    width: 100%;
    height: 55px;
    position: fixed;
    background:linear-gradient(to right, #1e3c72, #234a85, #265998, #2969ac, #2a79c0);
}

.login{
    float: right;
    margin: 10px;
    padding: 8px;
    color: #FFFFFF;
}

#logo{
    position: absolute;
    left: 25px;
}

.info{
    width: 95%; /*da pra usar 96, estava 93*/
    height: 100%;
    border: 2px solid black;
    border-spacing: 10px;
    margin: 30px;
}


.infocards{
    width: 95%;
	margin: 30px;
   /* border: 1px solid black;*/
    
}

.infocardswrap{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.cards{
    width: 100%;
    flex: 1;
}

.item {
	margin: 10px;
    padding: 10px;
    border-radius: 5px;
	background: white;
    text-align: left;
    font-size: 20px;
    height: 100px;
    border-left: 5px solid #1cc88a;
}

.item2 {
	margin: 10px;
    padding: 10px;
    border-radius: 5px;
	background: white;
    text-align: left;
    font-size: 20px;
    height: 100px;
    border-left: 5px solid rgb(255, 76, 76);
}

.item3 {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
	background: white;
    text-align: left;
    font-size: 20px;
    height: 100px;
    border-left: 5px solid #1cc88a;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;   
}
.box {
  /* border: 2px solid black;*/
    border-radius: 20px;
    margin: 1rem;
    width: 250px;
    /* O flex: 1; é necessário para que cada item se expanda
     ocupando o tamanho máximo do container. */
    flex: 1;

}

.box2{
   /* border: 2px solid black;*/
    border-radius: 20px;
    margin: 1rem;
    width: 250px;
    flex: 1;

}


.box3{
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    background-color: cadetblue;
}

.boxrendas{
    /*background: rgb(0, 119, 255);*/
    border: 2px solid rgb(0, 119, 255);
    border-radius: 5px;
}

.boxdespesas{
    /*background: rgb(255, 76, 76);*/
    border: 2px solid rgb(255, 76, 76);
    border-radius: 5px;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
    float: right;

}

.button1 {
    background-color: green;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
    float: right;

}

.button2 {
    background-color: red;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
    float: right;

}



.rodape{
    margin: 5px;
    padding: 5px;
    margin-left: 150px;
    text-align: center;
    /*background: rgb(244, 248, 7);*/
}

.pagetitle{
    margin-left: 30px;
}


.tablerendas {
    border-collapse: collapse;
    /*border: solid;*/
    width: 97.5%;
    margin: 10px;
}

.tabledespesas {
    border-collapse: collapse;
   /* border: solid;*/
    width: 97.5%;
    margin: 10px;
}
  
th {
    border-bottom: 1px solid black;
    background-color: #abafaf;
    text-align: left;
    padding: 8px;
}

td {
    border-bottom: 1px solid;
    text-align: left;
    padding: 8px;
}




.titlerendas{
    padding: 5px;
    background-color: rgb(0, 119, 255);
    border-bottom: 1px solid rgb(0, 119, 255);
}

.titledespesas{
    padding: 5px;
    background-color: rgb(255, 76, 76);
    border-bottom: 1px solid rgb(255, 76, 76);
}

.btnrendas{
    width: 80px;
    height: 25px;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    float: right;
}

.btndespesas{
    width: 80px;
    height: 25px;
    background-color: rgb(255, 76, 76);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    float: right;
}

